/* personalizar.css */

/* Estilos Generales */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f4f6; /* Color de fondo gris claro */
    margin: 0;
    padding: 0;
}

header {
    background-color: #af6e19; /* Color de fondo actualizado */
    color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.page-name {
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 16px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    padding: 20px;
    background-color: white; /* Fondo blanco para el contenido */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.customize-container {
    margin-top: 20px;
}

h1, h2 {
    color: #af6e19; /* Color de los títulos actualizado */
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* Botón para actualizar local (azul) */
button[name="update"] {
    background-color: #007BFF; /* Azul */
    color: white;
}

button[name="update"]:hover {
    background-color: #0056b3; /* Azul más oscuro */
}

/* Botón para agregar servicio (verde) */
button[name="add_service"] {
    background-color: #28A745; /* Verde */
    color: white;
}

button[name="add_service"]:hover {
    background-color: #218838; /* Verde más oscuro */
}

/* Botón para eliminar local (rojo) */
button[name="delete_local"] {
    background-color: #DC3545; /* Rojo */
    color: white;
}

button[name="delete_local"]:hover {
    background-color: #c82333; /* Rojo más oscuro */
}

footer {
    background-color: #f3f4f6; /* Color de fondo gris claro */
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.footer-links a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
